* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  min-height: 100vh;
  background-size: cover;
}
.sidebar {
  padding: 1em;
  gap: 1em;
  display: flex;
  flex-direction: column;
}
.icon {
  font-size: 1.25rem;
  cursor: pointer;
}
.d-none {
  display: none;
}
.large-screens , .medium-screens{
  display: none;
}
@media (min-width: 668px) {
  .medium-screens {
    display: grid;
    grid-template-columns: 55% 45%;
  }
  .large-screens , .small-screens {
    display: none;
  }
}
.sm-sidebar  {
  display: block;
}
.lg-sidebar {
  display: none;
}
.sm {
  display: block;
}

@media (min-width: 980px) {
  .large-screens {
    display: grid;
    grid-template-columns: 25% 45% 30%;
  }
  .sm {
    display: none;
  }
  .small-screens, .medium-screens {
    display: none;
  }


}
@media (min-width: 1368px) {
  .large-screens {
    display: grid;
    grid-template-columns: 15% 20% 2fr 25%;
  }
  .medium-screens , .sm-sidebar {
    display: none;
  }
  .lg-sidebar {
    display: block;
  }

}





